<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="/assets/css/bootstrap.min.css" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <link
            rel="preconnect"
            href="https://fonts.googleapis.com" />
    <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
            rel="stylesheet" />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link
            rel="stylesheet"
            href="/assets/css/home.css" />

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

    <script type="text/javascript" charset="utf-8" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />


    <link rel="stylesheet" href="/assets/css/booking.css">

    <link rel="stylesheet" href="/assets/css/toastMessage.css">


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />



    <title>HomeMate - Booking</title>

</head>
<body class="animate__animated animate__fadeIn">
<!-- Header -->
<header class="header">
    <nav id="navBar">
        <div class="logoNav">
            <a class="navbar-brand fs-2" href="/customer">
                <img src="/assets/images/HomeMate.png" alt="" class="logo">
            </a>
        </div>

        <ul
                class="">
            <li class="">
                <a th:href="@{/customer}" class="nav-link"
                >Home</a
                >
            </li>
            <li class="">
                <a th:href="@{/customer/bookings/form}" class="nav-link"
                >Booking</a
                >
            </li>
            <li class="">
                <a
                        href="/customer/history"
                        class="nav-link"
                >History</a
                >
            </li>
            <li class="d-none">
                <a href="#price" class="nav-link"
                ></a
                >
            </li>
            <li class="">
                <a
                        th:href="@{/customer/account}"
                        class="nav-link"
                >Account</a>
            </li>
        </ul>
    </nav>
</header>
<main id="bookingMain " >

    <div class="row mt-2">

        <form class="col-lg-8 mx-auto" method="post" id="bookingForm" th:action="@{/customer/bookings/boooking}">
            <h3 class=" text-center">BOOKING FORM</h3>
            <div class="row">

            <div class="row col-md-6">

            <div class="form-group mb-3 col-md-6">
                <label for="name">Name</label>
                <input th:value="*{bookingInfor.getCustomerName()}" name="name" type="text" class="form-control" id="name" placeholder="Customer name" readonly>
            </div>
            <div class="form-group mb-3 col-md-6">
                <label for="phoneNumber">Phone number</label>
                <input th:value="*{bookingInfor.getCustomerPhone()}" name="phoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="Phone number" readonly>
            </div>
            <div class="form-group mb-3 col-md-12">
                <label for="address">Address</label>
                <textarea readonly  name="address"  type="text" class="form-control" id="address" placeholder="Address"></textarea>
            </div>

                <div class="form-group mb-3 col-md-6">
                    <label for="start">Start</label>
                    <input th:field="*{bookingInfor.timeStart}"  name="time" type="datetime-local" class="form-control" id="start" placeholder="Time Start">
                </div>


                <div class="form-group mb-3 col-md-6">
                    <label for="forTime">Time service</label>
                    <select id="forTime" class="form-control" th:field="*{bookingInfor.timeService}">
                        <option value="0.5">0.5h</option>
                        <option value="1.0">1h</option>
                        <option value="1.5">1.5h</option>
                        <option value="2.0">2h</option>
                        <option value="2.5">2.5h</option>
                        <option value="3.0">3h</option>
                        <option value="3.5">3.5h</option>
                        <option value="4.0">4.0h</option>
                        <option value="4.5">4.5h</option>
                        <option value="5.0">5.0h</option>
                        <option value="5.5">5.5h</option>
                        <option value="6.0">6.0h</option>
                        <option value="6.5">6.5h</option>
                        <option value="7.0">7.0h</option>
                        <option value="7.5">7.5h</option>
                        <option value="8.0">8.0h</option>
                        <option value="8.5">8.5h</option>
                    </select>
                </div>
                    <div class=" mb-3 col-md-6">
                        <label for="exampleFormControlSelect1">Select Service</label>
                        <select class="form-control #selectTag" id="exampleFormControlSelect1" th:field="*{bookingInfor.serviceId}">
                            <div th:each="ser:${service}">
                                <option th:value="*{ser.getServiceId()}" th:text="*{ser.getName()}"></option>
                            </div>
                        </select>


                    </div>
                    <div class=" mb-3 col-md-6">
                        <div class="payment-type">
                            <p>Payment type</p>
                            <input name="name" value="0"  type="radio" th:field="*{bookingInfor.paymentType}" class="mr-5" id="banking">
                            <label for="banking">Banking</label>

                            <input name="name" value="1"  type="radio" th:field="*{bookingInfor.paymentType}" class="mr-5" id="cash" >
                            <label for="cash">Cash</label>

                        </div>
                    </div>
                <div class="form-group mb-3 col-md-6">
                    <label for="RankDiscount">Discount:</label>
                    <input th:if="*{ranking}" th:value="'Rank '+${ranking.getName()}+': '+${ranking.getDiscount()}+'%'" name="RankDiscount" type="text" class="form-control" id="RankDiscount" readonly>
                </div>

                    <div class=" mb-3">
                        <label for="description">Job description</label>
                        <textarea th:field="*{bookingInfor.jobDescription}"  name="description" type="text" class="form-control" id="description" placeholder="Job description"></textarea>
                    </div>


            </div>
                <input id="rawLocation" type="text" style="display: none" th:field="*{bookingInfor.location}">
                <input style="display: none" type="text" id="loca" >


             <div class="col-md-6">
                 <div onclick="displayLocation()" style="width: 100%; height: 90%" id="map"></div>
             </div>


                <button type="submit" id="bookingBtn" class=" col-md-12 btn" >Booking</button>

            </div>




        </form>
    </div>
</main>

<!-- Footer -->
<footer class="text-center text-dark ">
    <div class="text-center p-3">
        © 2023 Homemade
    </div>
    <!-- Copyright -->
</footer>




<div id="mapHide"></div>

<!-- Footer -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>

<div id="toast"></div>

<script src="/assets/js/toast.js"></script>

<script src="/assets/js/booking.js"></script>


<script src="/assets/js/signupValidation.js"></script>

<script src="/assets/js/MapService.js"></script>

<script src="/assets/js/convertToAddress.js"></script>
<div style="display: none" id="script" th:text="*{CustomerMessage}"> </div>

<script >
    function displayLocation() {
        var test =  document.getElementById('rawLocation').value
        getAddress(test)
    }


    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
</script>

<script>

</script>

</body>
</html>
