<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/toastMessage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <style></style>
    <title>Document</title>
  </head>
  <body class="bg-light">
  <header class="header">
    <nav id="navBar">
      <div class="logoNav">
        <a class="navbar-brand fs-2" href="/guest">
          <img src="/assets/images/HomeMate.png" alt="" class="logo">
        </a>
      </div>

      <ul
              class="">
        <li class="">
          <a th:href="@{/customer}" class="nav-link"
          >Home</a
          >
        </li>
        <li class="">
          <a th:href="@{/customer/bookings/form}" class="nav-link"
          >Booking</a
          >
        </li>
        <li class="">
          <a
                  href="/customer/history"
                  class="nav-link"
          >History</a
          >
        </li>
        <li class="d-none">
          <a href="#price" class="nav-link"
          ></a
          >
        </li>
        <li class="">
          <a
                  th:href="@{/customer}"
                  class="nav-link"
          >Reward</a>
        </li>
      </ul>


      <a th:href="@{/logout}"
         class="btn btn-lg signBtn"
         style=""
      >Log out</a
      >
    </nav>
  </header>
    <div
      class=" rounded bg-white mt-5 mb-5">

        <div class="row main-profile">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-5 border me-4" width="150px" height="auto" th:src="*{profile.getAvatar()}" />
              <span class="font-weight-bold" th:text="*{profile.getUsername()}"></span>
              <i>Member: <b><span th:text="${Ranking}"></span></b></i>
              <i class="text-warning">Balance: <b th:text="*{profile.getBalance()}"></b></i>
                <a th:href="@{/customer/account/changePassword}" class="btn btn-md btn-dark mt-4">
                  Change Password
                </a>
            </div>
          </div>
          <div class="col-md-9 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right">
                  My profile
                </h3>
                <div
                        class="col-6 text-center">
                  <a
                          th:href="@{/customer/account/edit/{username}(username=${profile.getUsername()})}"
                          class="text-decoration-none"
                  >
                    Edit profile
                  </a>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label
                    class="form-label"
                    >Full Name
                    </label
                  >
                 <h4 th:text="*{profile.getName()}"></h4>
                </div>
                <div class="col-md-6">
                  <label
                          class="form-label">Total Spend
                  </label>
                  <h4 th:text="*{profile.getTotalSpend()}"></h4>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-8">
                  <label class="form-label">Email
                  </label>
                  <h4 th:text="*{profile.getEmail()}"></h4>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <label
                            class="form-label"
                    >Birthday
                    </label
                    >
                    <h4 th:text="*{profile.getDob()}"></h4>
                  </div>
                  <div class="col-md-6">
                    <label
                            class="form-label"
                    >Phone number
                    </label
                    >
                    <h4 th:text="*{profile.getPhone()}"></h4>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-4">
                  <label
                          class="form-label"
                  >Address
                  </label
                  >
                  <h4 th:text="*{profile.getAddress()}"></h4>
                </div>
                <div class="col-md-4">
                  <label
                          class="form-label"
                  >City
                  </label
                  >
                  <h4 th:text="*{profile.getCity()}"></h4>
                </div>
                <div class="col-md-4">
                  <label
                          class="form-label"
                  >District
                  </label
                  >
                  <h4 th:text="*{profile.getDistrict()}"></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div style="display: none" id="script" th:text="${EditMessage}"> </div>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/toast.js"></script>
    <script >
      var mes = document .getElementById("script").innerText
      splitMessase(mes.trim())
    </script>
  </body>
</html>
