<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/profile.css">
    <link rel="stylesheet" href="/assets/css/home.css" />
    <link rel="stylesheet" href="/assets/css/toastMessage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/toastMessage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <style></style>
    <title>HomeMate - Profile</title>
  </head>
  <body class="bg-light">
  <header class="header">
    <nav id="navBar">
      <div class="logoNav">
        <a class="navbar-brand fs-2" href="/customer">
          <img src="/assets/images/HomeMate.png" alt="" class="logo">
        </a>
      </div>

      <ul
              class="">
        <li class="">
          <a th:href="@{/customer}" class="nav-link"
          >Home</a
          >
        </li>
        <li class="">
          <a th:href="@{/customer/bookings/form}" class="nav-link"
          >Booking</a
          >
        </li>
        <li class="">
          <a
                  href="/customer/history"
                  class="nav-link"
          >History</a
          >
        </li>
        <li class="d-none">
          <a href="#price" class="nav-link"
          ></a
          >
        </li>
        <li class="">
          <a
                  th:href="@{/customer/account}"
                  class="nav-link"
          >Account</a>
        </li>
      </ul>
    </nav>
  </header>
    <div
      class=" rounded bg-white mt-5 mb-5">

        <div class="row main-profile">
          <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img class="rounded-5 border avatar " th:src="*{profile.getAvatar()}" style="width: 150px; height: 150px; object-fit: cover" />
              <span name="txtUsername" class="font-weight-bold" th:text="*{profile.getUsername()}"></span>
             <a class="text-decoration-none" th:href="@{/customer/account/{id}/reward (id=*{profile.getUsername()})}">
               <i>Member: <b><span th:text="${profile.getRank().getName()}"></span></b></i>
             </a>
              <i class="text-warning">Balance: <b th:text="*{'$'+profile.getBalance()}"></b></i>
                <a th:href="@{/customer/account/edit/{username}(username=${profile.getUsername()})}"
                   class="btn editBtn mt-4">
                  Edit profile
                </a>
            </div>
          </div>
          <div class="col-md-9 border-right">
            <div class="p-3 py-5">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right fw-bold">
                  My profile
                </h3>
                <div
                        class="col-6 text-center">

                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label
                    class="form-label text-black-50"
                    >Full Name
                    </label
                  >
                 <h4 th:text="*{profile.getName()}"></h4>
                </div>
                <div class="col-md-6">
                  <label
                          class="form-label text-black-50">Total Spend
                  </label>
                  <h4 th:text="*{profile.getTotalSpend()}"></h4>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-md-8">
                  <label class="form-label text-black-50">Email
                  </label>
                  <h4 th:text="*{profile.getEmail()}"></h4>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <label
                            class="form-label text-black-50"
                    >Birthday
                    </label
                    >
                    <h4 th:text="*{profile.getDob()}"></h4>
                  </div>
                  <div class="col-md-6">
                    <label
                            class="form-label text-black-50"
                    >Phone number
                    </label
                    >
                    <h4 th:text="*{profile.getPhone()} "></h4>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-4">
                  <label
                          class="form-label text-black-50"
                  >Address
                  </label
                  >
                  <h4 th:text="*{profile.getAddress()}"></h4>
                </div>
                <div class="col-md-4">
                  <label
                          class="form-label text-black-50"
                  >City
                  </label
                  >
                  <h4 th:text="*{profile.getCity()}"></h4>
                </div>
                <div class="col-md-4">
                  <label
                          class="form-label text-black-50"
                  >District
                  </label
                  >
                  <h4 th:text="*{profile.getDistrict()}"></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

  <footer class="text-center text-dark footerAbsolute">
    <div class="text-center p-3">© 2023 Homemade</div>
    <!-- Copyright -->
  </footer>
  <div id="toast"></div>

  <script src="/assets/js/toast.js"></script>


  <div style="display: none" id="script" th:text="*{CustomerMessage}"> </div>

  <script >
    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
  </script>
  </body>
</html>
