<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0" />
    <link
            rel="stylesheet"
            href="/assets/css/bootstrap.min.css" />
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link
            rel="stylesheet"
            href="/assets/css/home.css" />
    <title>Document</title>
</head>
<body class="bg-light">
<header class="header">
    <nav id="navBar">
        <div class="logoNav">
            <a class="navbar-brand fs-2" href="/customer">
                <img src="/assets/images/HomeMate.png" alt="" class="logo">
            </a>
        </div>

        <ul
                class="">
            <li class="">
                <a th:href="@{/customer}" class="nav-link"
                >Home</a
                >
            </li>
            <li class="">
                <a th:href="@{/customer/bookings/form}" class="nav-link"
                >Booking</a
                >
            </li>
            <li class="">
                <a
                        href="/customer/history"
                        class="nav-link"
                >History</a
                >
            </li>
            <li class="d-none">
                <a href="#price" class="nav-link"
                ></a
                >
            </li>
            <li class="">
                <a
                        th:href="@{/customer/account}"
                        class="nav-link"
                >Account</a>
            </li>
        </ul>

    </nav>
</header>
<div
        class="detailService rounded bg-white " style="margin-top: 140px; padding-top: 20px">
    <div class="serviceInfo" th:object="${Service}">
        <img th:src="*{getImg()}">
        <div class="h1" th:text="*{name}"></div>
        <h3 th:text="*{getIntro()}"></h3>
        <div >Only:
            <span th:text="*{'$'+getPrice()}"></span> per hour</div>
        <div class="d-none" th:text="*{getDiscount()}">
            <span></span>
        </div>
        <div th:text="*{getDescription()}"></div>
        <ul th:each="detail: *{getDetails()}">
            <li th:text="${detail}"></li>
        </ul>

        <a class="btn btnBookforDetail  w-100" th:href="@{/customer/bookings/form}">Booking now</a>
    </div>
</div>
<script src="/assets/js/jquery.min.js"></script>

</body>
</html>
