<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/toastMessage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/employee.css">

    <link rel="stylesheet" href="/assets/css/home.css">

    <link rel="stylesheet" href="/assets/css/account.css">


    <style></style>
    <title>Account</title>
  </head>
  <body class="bg-light">
  <header class="header">
    <nav id="navBar">
      <div class="logoNav">
        <a class="navbar-brand fs-2" href="/employee">
          <img src="/assets/images/HomeMate.png" alt="" class="logo">
        </a>
      </div>

      <ul
              class="">
        <li class="">
          <a th:href="@{/employee}" class="nav-link"
          >Home</a
          >
        </li>
        <li class="">
          <a th:href="@{/employee/job/jobList}" class="nav-link"
          >Jobs</a
          >
        </li>
        <li class="">
          <a
                  href="/employee/job/incomes"
                  class="nav-link"
          >Income</a
          >
        </li>
        <li class="d-none">
          <a href="#price" class="nav-link"
          ></a
          >
        </li>
        <li class="">
          <a
                  th:href="@{/employee/job/schedule}"
                  class="nav-link"
          >Schedule</a>
        </li>

        <li class="">
          <a
                  th:href="@{/employee/account}"
                  class="nav-link"
          >Account</a>
        </li>
      </ul>



    </nav>
  </header>

      <div id="account" class="shadow-lg">
          <div class="info text-center">
            <img class="accountIMG rounded-3 mb-3" th:src="*{profile.getAvatar()}" alt="">
            <br>
            <span class="mt-2 fw-bold mb-5" th:text="*{profile.getUsername()}"></span>
          </div>

        <a class="detailBtn btn btn-lg w-75 mt-3"
           th:href="@{/employee/account/{username}(username=${profile.getUsername()})}"
        >
          Profile
        </a>

        <a class="detailBtn btn btn-lg w-75 mt-3"
           th:href="@{/employee/account/changePassword}"
        >
          Change password
        </a>

        <a class="detailBtn btn btn-lg w-75 mt-3" th:href="@{/employee/job/incomes}">
          Income
        </a>

        <a class="detailBtn btn btn-lg w-75 mt-3"
           th:href="@{/employee/job/schedule}"
        >
          Schedule
        </a>

        <a class="detailBtn btn btn-lg w-75 mt-3" th:href="@{/logout}">

          Log out
        </a>


      </div>

  <footer class="text-center text-dark footerAbsolute">
    <div class="text-center p-3">
      © 2023 Homemade
    </div>
    <!-- Copyright -->
  </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

  <div id="toast"></div>
  <script src="/assets/js/toast.js"></script>
  <script src="/assets/js/signupValidation.js"></script>
  <div style="display: none" id="script" th:text="*{EmployeeMessasge}"> </div>
  <script >
    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
  </script>



  <script >
    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
  </script>

  <script type="text/javascript">
    $(document).ready(function(){
      $('#avatar').change(function(){
  showPreviewImage(this);
      });
    });
    function showPreviewImage(fileInput){
        file = fileInput.files[0];
        reader = new FileReader();
        reader.onload = function(e){
          $(#avatarPreview).attr("src",e.target.result);
        }
        reader.readAsDataURL(file);
    };
  </script>
  </body>
</html>
