<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/toastMessage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/employee.css">

    <link rel="stylesheet" href="/assets/css/home.css">


    <style></style>
    <title>Document</title>
  </head>
  <body class="bg-light">
  <header class="header">
    <nav id="navBar">
      <div class="logoNav">
        <a class="navbar-brand fs-2" href="/employee">
          <img src="/assets/images/HomeMate.png" alt="" class="logo">
        </a>
      </div>

      <ul
              class="">
        <li class="">
          <a th:href="@{/employee}" class="nav-link"
          >Home</a
          >
        </li>
        <li class="">
          <a th:href="@{/employee/job/jobList}" class="nav-link"
          >Jobs</a
          >
        </li>
        <li class="">
          <a
                  href="/employee/job/incomes"
                  class="nav-link"
          >Income</a
          >
        </li>
        <li class="d-none">
          <a href="#price" class="nav-link"
          ></a
          >
        </li>
        <li class="">
          <a
                  th:href="@{/employee/job/schedule}"
                  class="nav-link"
          >Schedule</a>
        </li>
        <li class="">
          <a
                  th:href="@{/employee/account}"
                  class="nav-link"
          >Account</a>
        </li>
      </ul>



    </nav>
  </header>

  <div
      class="main-empProfile rounded bg-white   mb-5">
      <form  th:action="@{/employee/account/edit}" method="post" th:object="${employeeProfile}" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-3 border-right">
            <div
              class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img
                class="rounded-circle mt-5"
                width="150px"
                th:src="${employeeProfile.getAvatar()}" />
              <label class="link-info" for="txtavatar" style="cursor:pointer">Change avatar</label>
              <span
                class="font-weight-bold" th:text="${employeeProfile.getName()}"
                >Customer</span
              ><span class="text-black-50" th:text="${employeeProfile.getEmail()}"
                ></span>
            </div>
          </div>
          <div class="col-md-7 border-right">
            <div class="p-3 py-5">
              <div
                class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right">
                  Profile Settings
                </h3>
              </div>
              <div class="row mt-2">

                <div class="col-md-6">
                  <label
                    class="form-label"
                    for="userName"
                    >Name<sup style="color: red"
                      >(*)</sup
                    ></label
                  >
                  <input
                          th:field="*{name}"
                          th:value="*{name}"
                    type="text"
                    class="form-control"
                    id="userName"
                    placeholder=""

                    required />
                </div>
                <div class="col-md-6">
                  <label
                          class="form-label"
                          for="userDob"
                  >DoB<sup style="color: red"
                  >(*)</sup
                  ></label
                  ><input
                        th:field="*{dob}"
                        th:value="*{dob}"
                        type="date"
                        class="form-control"
                        id="userDob"
                        required
                />
                </div>
              </div>
              <div class="row mt-3">


                <div class="col-md-6 justify-content-center">
                  <label class="form-label">Avatar<sup  >(*)</sup
                  ></label>
                  <img th:src="${employeeProfile.getAvatar()}" id="avatarPreview" alt="Avatar Preview">
                  <input id="txtavatar" name ="txtavatar" type="file" class="form-control d-none" accept="image/*" >


                </div>
                <div class="col-md-6">
                  <label
                          class="form-label"
                          for="userPhonenumber"
                  >Phone number<sup
                          style="color: red"
                  >(*)</sup
                  ></label
                  ><input
                        th:field="*{phone}"
                        th:value="*{phone}"
                        type="text"
                        class="form-control"
                        id="userPhonenumber"
                        placeholder=""
                        required />
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-4">
                  <label
                        class="labels"
                        for="userAddress">Address<sup
                        style="color: red">(*)
                        </sup>
                  </label>
                  <input
                        th:field="*{address}"
                        th:value="*{address}"
                        type="text"
                        class="form-control"
                        id="userAddress"
                        placeholder=""
                        value=""
                        required
                  />
                </div>
                <div class="col-md-4">
                  <label
                          class="labels"
                          for="userAddress">District<sup
                          style="color: red">(*)
                  </sup>
                  </label>
                  <input
                          th:field="*{district}"
                          th:value="*{district}"
                          type="text"
                          class="form-control"
                          placeholder=""

                          required
                  />
                </div>
                <div class="col-md-4">
                  <label
                          class="labels"
                          for="userAddress">City<sup
                          style="color: red">(*)
                  </sup>
                  </label>
                  <input
                          th:field="*{city}"
                          th:value="*{city}"
                          type="text"
                          class="form-control"
                          required
                  />
                </div>
              </div>

              <div class="row mt-3">
                <div class="col-md-6">
                  <label
                          class="form-label"
                          for="IDcard"
                  >ID Card Number<sup
                          style="color: red"
                  >(*)</sup
                  ></label
                  ><input
                        th:field="*{IDCard}"
                        th:value="*{IDCard}"
                        type="text"
                        class="form-control"
                        id="IDcard"
                        placeholder=""
                        required />
                </div>
                <div class="col-md-6">
                  <label
                          class="form-label"
                          for="placeOfwork"
                  >Phone number<sup
                          style="color: red"
                  >(*)</sup
                  ></label
                  ><input
                        th:field="*{placeOfWork}"
                        th:value="*{placeOfWork}"
                        type="text"
                        class="form-control"
                        id="placeOfwork"
                        placeholder=""
                        required />
                </div>
              </div>
              <input
                      hidden
                      th:field="*{username}"
                      th:value="*{username}"
                      type="text"
                      class="form-control"

              />
              <br />
              <hr>
                <br />
              <div class="col-md-12 text-center">
                <input class="btn btn-md detailBtn" id="saveEdit" type="submit" value="Save">
                <input class="btn btn-md detailBtn" id="resetEdit" type="reset" value="Reset">
              </div>
              </div>
            </div>
          </div>

      </form>
    </div>

  <footer class="text-center text-dark">
    <div class="text-center p-3">
      © 2023 Homemade
    </div>
    <!-- Copyright -->
  </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <div id="toast"></div>
  <script type="text/javascript">
    const inputFile = document.querySelector('#txtavatar');
    const img = document.querySelector('#avatarPreview');

    inputFile.addEventListener('change', function(event) {
      const file = event.target.files[0];
      const url = URL.createObjectURL(file);

      img.src = url;
    });
    const originalSrc = img.getAttribute('src');
    document.querySelector('input[type="reset"]').addEventListener('click', function() {
      img.src = originalSrc;
    });
  </script>
  <script src="/assets/js/toast.js"></script>

  <script src="/assets/js/employeeValidation.js"></script>

  <div style="display: none" id="script" th:text="*{EmployeeMessage}"> </div>
  <script >
    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
  </script>

  </body>
</html>
