<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/income.css">


    <title>Detail income</title>
  </head>
  <body>
  <header class="header">
    <nav id="navBar">
      <div class="logoNav">
        <a class="navbar-brand fs-2" href="/employee">
          <img src="/assets/images/HomeMate.png" alt="" class="logo">
        </a>
      </div>

      <ul
              class="">
        <li class="">
          <a th:href="@{/employee}" class="nav-link"
          >Home</a
          >
        </li>
        <li class="">
          <a th:href="@{/employee/job/jobList}" class="nav-link"
          >Jobs</a
          >
        </li>
        <li class="">
          <a
                  href="/employee/job/incomes"
                  class="nav-link"
          >Income</a
          >
        </li>
        <li class="d-none">
          <a href="#price" class="nav-link"
          ></a
          >
        </li>
        <li class="">
          <a
                  th:href="@{/employee/job/schedule}"
                  class="nav-link"
          >Schedule</a>
        </li>
        <li class="">
          <a
                  th:href="@{/employee/account}"
                  class="nav-link"
          >Account</a>
        </li>
      </ul>



    </nav>
  </header>
    <div id="db-wrapper"
      class=" d-flex justify-content-center">
      <div
        class="income-detail card p-4 mt-3 rounded">
        <div
          class="first mb-3  w-100">

          <h3>Detail income</h3>
          <div class="infoDetails">
            <span> Service: </span>
            <span class="order" th:text="*{income.getServiceName()}"></span>
        </div>


          <div class="infoDetails">
            <span> Payment type: </span>
            <span class="order" th:text="*{income.getPaymentType().toString()}"></span>
          </div>



        <hr />

          <div class="infoDetails">
            <span> Customer: </span>
            <span class="order" th:text="*{income.getCustomerName()}"></span>
          </div>

          <div class="infoDetails">
            <span> Customer phone: </span>
            <span class="order" th:text="*{income.getCustomerPhone()}"></span>
          </div>


          <div class="infoDetails">
            <span> Customer address: </span>
            <span class="order" th:text="*{income.getAddress()}"></span>
          </div>

          <hr>

          <div class="infoDetails">
            <span> From: </span>
            <span class="order" th:text="*{income.getForm()}"></span>
          </div>

          <div class="infoDetails">
            <span> To: </span>
            <span class="order" th:text="*{income.getTo()}"></span>
          </div>


          <div class="infoDetails">
            <span> Total time: </span>
            <span class="order" th:text="*{income.getTotalTime()+'h'}"></span>
          </div>


          <div class="infoDetails">
            <span> Status: </span>
            <span class="order" th:text="*{income.getStatus().toString()}"></span>
          </div>


          <hr>

          <div class="infoDetails">
            <span> Date of income: </span>
            <span class="order text-black-50" th:text="*{income.getDateOfIncome()}"></span>
          </div>
          <div class="infoDetails">
            <span> Money from job: </span>
            <span class="order fw-bold" th:text="*{'$'+income.getAmountFromJob()}"></span>
          </div>

          <div class="infoDetails">
          <span> Commission: </span>
          <span class="orde fw-boldr" th:text="*{'$'+income.getCommission()}"></span>
        </div>

          <div class="infoDetails">
            <span> Real income: </span>
            <span class="order text-success fw-bold" th:text="*{'$'+income.getRealAmount()}" th:if="${income.getRealAmount() >=0}"></span>
            <span class="order text-danger fw-bold" th:text="*{'$'+income.getRealAmount()}" th:if="${income.getRealAmount() <0}"></span>
          </div>

          <div class="infoDetails">
            <span>  </span>
            <a class="order" href="/employee/job/incomes">Back to incomes</a>
          </div>





        </div>

      </div>
    </div>

  <!-- Footer -->
  <footer class="text-center text-dark">
    <div class="text-center p-3">
      © 2023 Homemade
    </div>
    <!-- Copyright -->
  </footer>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

  <div id="toast"></div>
  <script src="/assets/js/toast.js"></script>
  <script src="/assets/js/signupValidation.js"></script>
  <div style="display: none" id="script" th:text="*{EmployeeMessasge}"> </div>
  <script >
    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
  </script>
  </body>
</html>
