<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/home.css">
    <link rel="stylesheet" href="/assets/css/employee.css">

    <link rel="stylesheet" href="/assets/css/toastMessage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <style></style>
    <title>Document</title>
  </head>
  <body class="bg-light">
  <header class="header">
    <nav id="navBar">
      <div class="logoNav">
        <a class="navbar-brand fs-2" href="/guest">
          <img src="/assets/images/HomeMate.png" alt="" class="logo">
        </a>
      </div>

      <ul
              class="">
        <li class="">
          <a th:href="@{/employee}" class="nav-link"
          >Home</a
          >
        </li>
        <li class="">
          <a th:href="@{/employee/job/jobList}" class="nav-link"
          >Jobs</a
          >
        </li>
        <li class="">
          <a
                  href="/employee/job/incomes"
                  class="nav-link"
          >Income</a
          >
        </li>
        <li class="d-none">
          <a href="#price" class="nav-link"
          ></a
          >
        </li>
        <li class="">
          <a
                  th:href="@{/employee/job/schedule}"
                  class="nav-link"
          >Schedule</a>
        </li>
        <li class="">
          <a
                  th:href="@{/employee/account}"
                  class="nav-link"
          >Account</a>
        </li>
      </ul>



    </nav>
  </header>
    <div
      class="main-empProfile rounded bg-white  mb-5">
      <form action="">
        <div class="row">
          <div class="col-md-3 border-right">
            <div
              class="d-flex flex-column align-items-center text-center p-3 py-5">
              <img
                class="rounded-circle mt-5"
                width="150px"
                th:src="*{profile.getAvatar()}" /><span
                class="font-weight-bold"
                 th:text="*{profile.getUsername()}"></span
              >
              <i
                class="text-warning"
              >Balance: <b th:text="*{profile.getBalance()}"></b></i
              >
              <span><a th:href="@{/employee/account/edit/{username}(username=${profile.getUsername()})}"
                       class="btn btn-md mt-2 detailBtn"
                       type="button">
                      Edit Profile
                    </a></span>

            </div>
          </div>
          <div class="col-md-9 border-right">
            <div class="p-3 py-5">
              <div
                class="d-flex justify-content-between align-items-center mb-3">
                <h3 class="text-right fw-bold">
                  My profile
                </h3>
              </div>
              <div class="row mt-2">
                <div class="col-md-6">
                  <label
                    class="form-label text-black-50"
                    >Full Name
                    </label
                  >
                 <h4 th:text="*{profile.getName()}"></h4>
                </div>

                <div class="col-md-6 ">
                  <label
                          class="form-label text-black-50"
                  >Birth day
                  </label
                  >
                  <h4 th:text="*{profile.getDob()}"></h4>
                </div>
              </div>

              <div class="row mt-2">


              </div>
              <div class="row mt-3">
                <div class="col-md-12">
                  <label
                          class="form-label text-black-50"
                  >Email
                  </label
                  >
                  <h4 th:text="*{profile.getEmail()}"></h4>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <label
                            class="form-label text-black-50"
                    >ID card
                    </label
                    >
                    <h4 th:text="*{profile.getIDCard()}"></h4>
                  </div>

                  <div class="col-md-6">
                    <label
                            class="form-label text-black-50"
                    >Phone number
                    </label
                    >
                    <h4 th:text="*{profile.getPhone()}"></h4>
                  </div>
                </div>



                </div>
                <div class="col-md-12">
                  <div class="col-md-12">
                    <label
                            class="form-label text-black-50"
                    >Address
                    </label
                    >
                    <h4 th:text="*{profile.getAddress()}"></h4>
                  </div>
                </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="col-md-12">
                    <label
                            class="form-label text-black-50"
                    >District
                    </label
                    >
                    <h4 th:text="*{profile.getDistrict()}"></h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <label
                            class="form-label text-black-50"
                    >City
                    </label
                    >
                    <h4 th:text="*{profile.getCity()}"></h4>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="col-md-12">
                    <label
                            class="form-label text-black-50"
                    >Place of work
                    </label
                    >
                    <h4 th:text="*{profile.getPlaceOfWork()}"></h4>
                  </div>
                </div>
              </div>

                <div class="row mt-2">
                  <div
                    class="col-md-6 text-center">

                  </div>
                  <div
                    class="col-md-6 text-center">

                  </div>
                </div>
              </div>
            </div>
          </div>

      </form>
    </div>

  <footer class="text-center text-dark footerAbsolute">
    <div class="text-center p-3">
      © 2023 Homemade
    </div>
    <!-- Copyright -->
  </footer>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

  <div id="toast"></div>
  <script src="/assets/js/toast.js"></script>
  <script src="/assets/js/signupValidation.js"></script>
  <div style="display: none" id="script" th:text="*{EmployeeMessage}"> </div>
  <script >
    var mes = document .getElementById("script").innerText
    splitMessase(mes.trim())
  </script>
  </body>
</html>
