<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <style>
      .disabled-link {
        pointer-events: none;
      }
      .td-btn {
        text-align: right;
      }
    </style>
    <title>Employee List</title>
  </head>
  <body>
    <header>
      <nav
        class="navbar navbar-expand-lg bg-body-tertiary fs-4">
        <div class="container">
          <a class="navbar-brand fs-2" href="#">
            <icon class="bi bi-gem"></icon>
            Homemate
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span
              class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarSupportedContent">
            <ul
                    class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a th:href="@{/admin/userManagement}" style="font-weight: 500; color:#000" class="nav-link"
                >Account Manager</a
                >
              </li>
              <li class="nav-item" >
                <a th:href="@{/admin/services}" class="nav-link"
                >Service Manager</a
                >
              </li>
              <li class="nav-item">
                <a th:href="@{/admin/tasks}" class="nav-link"
                >Task Manager</a
                >
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"
                >Setting</a
                >
              </li>
            </ul>
            <a
              href="#"
              class="btn btn-lg btn-dark"
              >Log out</a
            >
          </div>
        </div>
      </nav>
    </header>
    <section
      class="vh-100"
      style="background-color: #eee">
      <div class="container py-5">
        <div
          class="row d-flex justify-content-center align-items-center">
          <div class="col-md-12 col-xl-10">
            <div class="card">
              <div class="card-header p-3">
                <div class="row">

                  <h3 class="mb-0 col-2">
                    <a
                            th:href="@{/admin/userManagement/customers}"
                            class="btn btn-dark"
                    >Customer List</a
                    >
                  </h3>
                  <h3 class="mb-0 col-2">
                    <a
                            th:href="@{/admin/userManagement/employees}"
                            class="btn btn-dark  disabled-link"
                    >Employee List</a
                    >
                  </h3>
                  <h3 class="mb-0 col-2">
                    <a
                            th:href="@{/admin/userManagement/applies}"
                            class="btn btn-dark "
                    >Apply List</a
                    >
                  </h3>
                </div>
              </div>
              <div
                class="card-body h-100"
                data-mdb-perfect-scrollbar="true"
                style="
                  position: relative;
                  height: 400px;
                ">
                <h3>Employee List</h3>
                <table class="table mb-0">
                  <thead>
                  <tr>
                    <th class="h4" scope="col">
                      Username
                    </th>
                    <th class="h4" scope="col">
                      Customer Name
                    </th>
                    <th class="h4 text-center" scope="col">
                      Account Status
                    </th>
                    <th
                            class="h4 text-center"
                            scope="col"> Action</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr class="fw-normal" th:each="employee : *{EmployeeList}">
                    <td class="align-middle">
                        <span class="ms-2"
                              th:text="*{employee.getUsername()}"
                        ></span
                        >
                    </td>
                    <td class="align-middle">
                        <span class="ms-2"
                              th:text="*{employee.getFullName()}"
                        ></span
                        >
                    </td>
                    <td class="align-middle text-center account-status"
                        th:text="*{employee.getAccountStatus().toString()}"
                    >
                      <span></span>
                    </td>
                    <td
                            class="align-middle td-btn text-center">
                      <a
                              th:href="@{/admin/userManagement/employee/{id}(id=${employee.getEmployeeId()})}"
                              class="btn btn-primary"
                      >Detail</a
                      >

                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
              <div class="card-footer p-3"></div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      var account = document.querySelectorAll(".account-status");
      account.forEach((account)=> {
        if (account.innerText.trim().toUpperCase().includes("ACTIVE")) {
          account.classList.add("text-success")
        }

        if (account.innerText.trim().toUpperCase().includes("BLOCK")) {
          account.classList.add("text-danger")
        }

        if (account.innerText.trim().toUpperCase().includes("WAIT_FOR_APPROVE")) {
          account.classList.add("text-warning")
        }

      })
    </script>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
