<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/toastMessage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />



    <style>
      .disabled-link {
        pointer-events: none;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
  <header>
    <nav
            class="navbar navbar-expand bg-body-tertiary fs-4">
      <div class="container">
        <a class="navbar-brand fs-2" href="/admin/dashboard">
          <img src="/assets/images/HomeMate.png" alt="" style="height: 100px">
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span
                    class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent">
          <ul
                  class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a th:href="@{/admin/userManagement}"  class="nav-link"
              >Account Manager</a
              >
            </li>
            <li class="nav-item" >
              <a th:href="@{/admin/services}"  class="nav-link"
              >Service Management</a
              >
            </li>
            <li class="nav-item">
              <a th:href="@{/admin/tasks}"  style="font-weight: 500; color:#000" class="nav-link"
              >Request management</a
              >
            </li>
          </ul>
          <a
                  th:href="@{/logout}"
                  class="btn btn-lg btn-outline-danger"
          >Log out</a
          >
        </div>
      </div>
    </nav>
  </header>
    <section
      class="vh-100"
      style="background-color: #eee">
      <div class="container py-5">
        <div
          class="row d-flex justify-content-center align-items-center">
          <div class="col-md-12 col-xl-10">
            <div class="card">
              <div class="card-header p-3">
                <div class="mb-0 h3">
                  Cancel Job Request Detail
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div
                          class="card-body h-100 row align-items-center"
                          data-mdb-perfect-scrollbar="true"
                          style="
                  position: relative;
                  height: 400px;
                ">
                    <div class="col-md-9">

                      <div>
                        Request ID: <span th:text="*{cancelRequestDetail.getRequestId()}"></span>
                      </div>
                      <div>
                        Job ID: <span th:text="*{cancelRequestDetail.getJobId()}"></span>
                      </div>

                      <div>
                        Customer Name: <span th:text="*{cancelRequestDetail.getCustomerName()}"></span>
                      </div>
                      <div>
                        Address: <span th:text="*{cancelRequestDetail.getAddress()}"></span>
                      </div>
                      <div>Service: <span th:text="*{cancelRequestDetail.getService()}"></span>
                      </div>
                      <div>
                        Job Description: <span th:text="*{cancelRequestDetail.getDescription()}"></span>
                      </div>
                      <div>
                        Start: <span th:text="*{cancelRequestDetail.getStart()}"></span>
                      </div>
                      <div>End: <span th:text="*{cancelRequestDetail.getEnd()}"></span></div>
                      <div>
                        <div>
                          Employee Name: <span th:text="*{cancelRequestDetail.getEmployeeName()}"></span>
                        </div>
                        Cancel Reason: <span th:text="*{cancelRequestDetail.getReason()}"></span>
                      </div>
                      <div>Request Status: <span th:text="*{cancelRequestDetail.getStatus()}"></span>
                      </div>
                      <div>
                        Payment Type: <span th:text="*{cancelRequestDetail.getPaymentType()}"></span>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <a id="unBlockBtn"  class="btn btn-success w-100 mb-1"
                         th:href="@{/admin/tasks/approve/{id}(id=${cancelRequestDetail.getRequestId()})}"
                         th:if="${cancelRequestDetail.getStatus().toString() == 'WAITING'}"
                      >Approved</a
                      >
                      <a
                              th:href="@{/admin/tasks/reject/{id}(id=${cancelRequestDetail.getRequestId()})}"
                              th:if="${cancelRequestDetail.getStatus().toString() == 'WAITING'}"
                              class="btn btn-danger w-100 mb-1"
                      >Reject</a
                      >

                      <a
                              th:href="@{/admin/tasks/delete/{id}(id=${cancelRequestDetail.getRequestId()})}"
                              th:if="${cancelRequestDetail.getStatus().toString() != 'WAITING'}"
                              class="btn btn-danger w-100 mb-1"
                      >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer p-3"></div>
            </div>


          </div>
        </div>
      </div>
    </section>

    <script src="/assets/js/bootstrap.bundle.min.js"></script>


  <div id="toast"></div>


  <script src="/assets/js/toast.js"></script>


  <script th:if="${ApproveMessage}">
    showSuccesToast("Approve request successfully");
  </script>

  <script th:if="${RejectMessage}">
    showSuccesToast("Reject request successfully");
  </script>

  </body>
</html>
