<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/assets/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/admin.css">

    <link rel="stylesheet" href="/assets/css/toastMessage.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="/assets/css/admin.css">
    <title>Add New Service</title>
  </head>
  <body>
  <header>
    <nav
            class="navbar navbar-expand bg-body-tertiary fs-4">
      <div class="container">
        <a class="navbar-brand fs-2" href="/admin/dashboard">
          <img src="/assets/images/HomeMate.png" alt="" style="height: 100px">
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span
                    class="navbar-toggler-icon"></span>
        </button>
        <div
                class="collapse navbar-collapse"
                id="navbarSupportedContent">
          <ul
                  class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a th:href="@{/admin/userManagement}"  class="nav-link"
              >Account management</a
              >
            </li>
            <li class="nav-item" >
              <a th:href="@{/admin/services}"  style="font-weight: 500; color:#000" class="nav-link"
              >Service management</a
              >
            </li>
            <li class="nav-item">
              <a th:href="@{/admin/tasks}" class="nav-link"
              >Request management</a
              >
            </li>
          </ul>
          <a
                  th:href="@{/logout}"
                  class="btn btn-lg btn-outline-danger"
          >Log out</a
          >
        </div>
      </div>
    </nav>
  </header>
    <section >
      <div class="container py-5">
        <div
          class="row d-flex justify-content-center align-items-center">
          <div class="col-md-12 col-xl-10">
            <div class="card">
              <div class="card-header p-3">
                <div class="h2 text-center">
                  Update Service
                </div>
              </div>
              <div
                class="card-body h-100"
                data-mdb-perfect-scrollbar="true"
                style="
                  position: relative;
                  height: 400px;
                ">
                <form
                  th:action="@{/admin/services/edit}"
                  method="post"
                  th:object="${ServiceEdit}"
                  enctype="multipart/form-data">
                  <input type="hidden" th:field="*{serviceId}">
                  <div class="form-floating pb-3">

                    <input
                            type="text"
                            th:field="*{name}"
                            class="form-control"
                            id="floatingNameService"
                            placeholder=""
                            required />
                    <label for="floatingNameService">Name</label>
                  </div>
                  <div class="form-floating pb-3 row">
                    <div class="col-md-6 " style="height: 140px; display: flex; justify-content: center">
                      <img width="200px"  th:src="*{img}" id="avatarPreview"  style="height: 100%; border: 1px solid #ccc">
                      <!--                      <img width="200px"  th:if="*{img == null}" src="/assets/images/icon-image-not-found-free-vector.jpg" id="placehhoder"  style="height: 100%; border: 1px solid #ccc; object-fit: cover">-->

                    </div>
                    <div class="col-md-6  ">
                      <input id="floatingImageService" name ="floatingImageService" type="file" class="form-control" accept="image/*" >

                    </div>

                  </div>
                  <div class="form-floating pb-3">
                    <input
                            type="number"
                            th:field="*{price}"
                            step="0.01"
                            class="form-control"
                            id="floatingPriceService"
                            placeholder=""
                            required />
                    <label
                            for="floatingPriceService"
                    >Price</label>
                  </div>
                  <div class="form-floating pb-3">
                    <input
                            type="number"
                            th:field="*{discount}"
                            step="0.01"
                            class="form-control"
                            id="floatingDiscountService"
                            placeholder=""
                            required />
                    <label
                            for="floatingDiscountService"
                    >Discount</label
                    >
                  </div>

                  <div class="form-floating pb-3">
                    <input
                            type="text"
                            th:field="*{intro}"
                            class="form-control"
                            id="floatingIntroService"
                            placeholder=""
                            required />
                    <label
                            for="floatingIntroService"
                    >Introduction</label
                    >
                  </div>
                  <div class="form-floating pb-3">
                    <input
                            type="text"
                            th:field="*{description}"
                            class="form-control"
                            id="floatingDescriptionService"
                            placeholder=""
                            required />
                    <label
                            for="floatingDescriptionService"
                    >Description</label
                    >
                  </div>
                  <div class="form-floating pb-3">

                    <textarea class="form-control" name="txtDetails" th:rows="10" th:cols="20"   id="floatingDetailService" th:text="${joinedText}"></textarea>
                    <label for="floatingDetailService">Details:</label>
                  </div>
                  <div
                          class="d-flex justify-content-center">
                    <button id="addBtn"
                            class="btn btn-lg adminBtn"
                            type="submit">
                      Update
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  <footer class="text-center text-dark mt-3">
    <div class="text-center p-3">
      © 2023 Homemade
    </div>
    <!-- Copyright -->
  </footer>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>

  <div id="toast"></div>


  <script src="/assets/js/toast.js"></script>



  <script src="/assets/js/adminValidation.js"></script>

  </script>

  <script src="/assets/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    const inputFile = document.querySelector('#floatingImageService');
    const img = document.querySelector('#avatarPreview');

    inputFile.addEventListener('change', function(event) {
      const file = event.target.files[0];
      const url = URL.createObjectURL(file);

      img.src = url;
    });
    const originalSrc = img.getAttribute('src');
    document.querySelector('input[type="reset"]').addEventListener('click', function() {
      img.src = originalSrc;
    });
  </script>
  </body>
</html>
